@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);








body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Oxygen', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #28324e !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #475577 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #28324e;
  border-color: #28324e;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #0e121b;
  border-color: #0e121b;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0e121b !important;
  border-color: #0e121b !important;
}
.btn-secondary {
  background-color: #2b0680;
  border-color: #2b0680;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #120337;
  border-color: #120337;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #120337 !important;
  border-color: #120337 !important;
}
.btn-info {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning {
  background-color: #475577;
  border-color: #475577;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #2a3347;
  border-color: #2a3347;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #2a3347 !important;
  border-color: #2a3347 !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #05070b;
  color: #05070b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #28324e;
  border-color: #28324e;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #28324e !important;
  border-color: #28324e !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #0a011f;
  color: #0a011f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #2b0680;
  border-color: #2b0680;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2b0680 !important;
  border-color: #2b0680 !important;
}
.btn-info-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline {
  background: none;
  border-color: #212737;
  color: #212737;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #475577;
  border-color: #475577;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #475577 !important;
  border-color: #475577 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #28324e !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #475577 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #ffffff;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #475577;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #28324e;
}
.btn-social:hover {
  background: #28324e;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #28324e;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #28324e;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #28324e;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #28324e;
}
.lead a,
.lead a:hover {
  color: #28324e;
}
.lead blockquote {
  border-color: #28324e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #94a1c8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #8695b7;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #28324e;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#ext_menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-x .navbar-caption {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-x .navbar-toggler {
  color: #ffffff;
}
#ext_menu-x .close-icon::before,
#ext_menu-x .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-x .link,
#ext_menu-x .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-x .link {
  font-size: 0.65rem;
}
#ext_menu-x .dropdown-item,
#ext_menu-x .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#ext_menu-x .link:hover,
#ext_menu-x .dropdown-item:hover,
#ext_menu-x .link:focus,
#ext_menu-x .dropdown-item:focus {
  color: #28324e;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-x .nav-dropdown-sm .link:focus,
#ext_menu-x .nav-dropdown-sm .link:hover,
#ext_menu-x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-x .navbar,
#ext_menu-x .nav-dropdown-sm,
#ext_menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-x .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-x .bg-color.transparent.opened .link:hover,
#ext_menu-x .bg-color.transparent.opened .link:focus {
  color: #28324e;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-item[aria-expanded="true"] {
  color: #28324e!important;
}
#ext_menu-x .btn {
  font-family: 'Oxygen', sans-serif;
}
#header5-w .mbr-section-title {
  color: #28324e;
  font-family: 'Oxygen', sans-serif;
  text-align: left;
}
#header5-w .mbr-section-lead {
  color: #000000;
  text-align: left;
}
#header2-y H3 {
  color: #28324e;
  font-size: 30px;
}
#header2-y P {
  color: #000000;
  font-family: 'Lora', serif;
}

#menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-k .navbar-caption {
  color: #ffffff;
}
#menu-k .navbar-toggler {
  color: #ffffff;
}
#menu-k .link,
#menu-k .dropdown-item {
  color: #ffffff;
}
#menu-k .link {
  font-size: 1.2rem;
}
#menu-k .dropdown-item,
#menu-k .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-k .link:hover,
#menu-k .dropdown-item:hover,
#menu-k .link:focus,
#menu-k .dropdown-item:focus {
  color: #28324e;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-menu {
  background: #e6e6e6;
}
#menu-k .nav-dropdown-sm .link:focus,
#menu-k .nav-dropdown-sm .link:hover,
#menu-k .nav-dropdown-sm .dropdown-item:focus,
#menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-k .navbar,
#menu-k .nav-dropdown-sm,
#menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-k .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-k .bg-color.transparent.opened .link:hover,
#menu-k .bg-color.transparent.opened .link:focus {
  color: #28324e;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-item[aria-expanded="true"] {
  color: #28324e!important;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .close-icon::before,
#menu-k .close-icon::after {
  background-color: #ffffff;
}
#menu-k .btn {
  font-family: 'Oxygen', sans-serif;
}

#menu-o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-o .navbar-caption {
  color: #ffffff;
}
#menu-o .navbar-toggler {
  color: #ffffff;
}
#menu-o .link,
#menu-o .dropdown-item {
  color: #ffffff;
}
#menu-o .link {
  font-size: 1.2rem;
}
#menu-o .dropdown-item,
#menu-o .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-o .link:hover,
#menu-o .dropdown-item:hover,
#menu-o .link:focus,
#menu-o .dropdown-item:focus {
  color: #28324e;
}
#menu-o .link[aria-expanded="true"],
#menu-o .dropdown-menu {
  background: #e6e6e6;
}
#menu-o .nav-dropdown-sm .link:focus,
#menu-o .nav-dropdown-sm .link:hover,
#menu-o .nav-dropdown-sm .dropdown-item:focus,
#menu-o .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-o .navbar,
#menu-o .nav-dropdown-sm,
#menu-o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-o .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-o .bg-color.transparent.opened .link:hover,
#menu-o .bg-color.transparent.opened .link:focus {
  color: #28324e;
}
#menu-o .link[aria-expanded="true"],
#menu-o .dropdown-item[aria-expanded="true"] {
  color: #28324e!important;
}
#menu-o.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-o .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-o .close-icon::before,
#menu-o .close-icon::after {
  background-color: #ffffff;
}
#menu-o .btn {
  font-family: 'Oxygen', sans-serif;
}

#menu-q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-q .navbar-caption {
  color: #ffffff;
}
#menu-q .navbar-toggler {
  color: #ffffff;
}
#menu-q .link,
#menu-q .dropdown-item {
  color: #ffffff;
}
#menu-q .link {
  font-size: 1.2rem;
}
#menu-q .dropdown-item,
#menu-q .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-q .link:hover,
#menu-q .dropdown-item:hover,
#menu-q .link:focus,
#menu-q .dropdown-item:focus {
  color: #28324e;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-menu {
  background: #e6e6e6;
}
#menu-q .nav-dropdown-sm .link:focus,
#menu-q .nav-dropdown-sm .link:hover,
#menu-q .nav-dropdown-sm .dropdown-item:focus,
#menu-q .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-q .navbar,
#menu-q .nav-dropdown-sm,
#menu-q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-q .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-q .bg-color.transparent.opened .link:hover,
#menu-q .bg-color.transparent.opened .link:focus {
  color: #28324e;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-item[aria-expanded="true"] {
  color: #28324e!important;
}
#menu-q.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-q .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-q .close-icon::before,
#menu-q .close-icon::after {
  background-color: #ffffff;
}
#menu-q .btn {
  font-family: 'Oxygen', sans-serif;
}

#menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-s .navbar-caption {
  color: #ffffff;
}
#menu-s .navbar-toggler {
  color: #ffffff;
}
#menu-s .link,
#menu-s .dropdown-item {
  color: #ffffff;
}
#menu-s .link {
  font-size: 1.2rem;
}
#menu-s .dropdown-item,
#menu-s .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-s .link:hover,
#menu-s .dropdown-item:hover,
#menu-s .link:focus,
#menu-s .dropdown-item:focus {
  color: #28324e;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-menu {
  background: #e6e6e6;
}
#menu-s .nav-dropdown-sm .link:focus,
#menu-s .nav-dropdown-sm .link:hover,
#menu-s .nav-dropdown-sm .dropdown-item:focus,
#menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-s .navbar,
#menu-s .nav-dropdown-sm,
#menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-s .bg-color.transparent.opened .link:hover,
#menu-s .bg-color.transparent.opened .link:focus {
  color: #28324e;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-item[aria-expanded="true"] {
  color: #28324e!important;
}
#menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-s .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-s .close-icon::before,
#menu-s .close-icon::after {
  background-color: #ffffff;
}
#menu-s .btn {
  font-family: 'Oxygen', sans-serif;
}



#menu-h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-h .navbar-caption {
  color: #ffffff;
}
#menu-h .navbar-toggler {
  color: #ffffff;
}
#menu-h .link,
#menu-h .dropdown-item {
  color: #ffffff;
}
#menu-h .link {
  font-size: 1.2rem;
}
#menu-h .dropdown-item,
#menu-h .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-h .link:hover,
#menu-h .dropdown-item:hover,
#menu-h .link:focus,
#menu-h .dropdown-item:focus {
  color: #28324e;
}
#menu-h .link[aria-expanded="true"],
#menu-h .dropdown-menu {
  background: #e6e6e6;
}
#menu-h .nav-dropdown-sm .link:focus,
#menu-h .nav-dropdown-sm .link:hover,
#menu-h .nav-dropdown-sm .dropdown-item:focus,
#menu-h .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-h .navbar,
#menu-h .nav-dropdown-sm,
#menu-h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-h .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-h .bg-color.transparent.opened .link:hover,
#menu-h .bg-color.transparent.opened .link:focus {
  color: #28324e;
}
#menu-h .link[aria-expanded="true"],
#menu-h .dropdown-item[aria-expanded="true"] {
  color: #28324e!important;
}
#menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-h .close-icon::before,
#menu-h .close-icon::after {
  background-color: #ffffff;
}
#menu-h .btn {
  font-family: 'Oxygen', sans-serif;
}
#features3-i H4 {
  color: #28324e;
  font-family: 'Oxygen', sans-serif;
}
#features3-i H5 {
  color: #000000;
}
#features3-14 H4 {
  font-family: 'Oxygen', sans-serif;
}

#menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-15 .navbar-caption {
  color: #ffffff;
}
#menu-15 .navbar-toggler {
  color: #ffffff;
}
#menu-15 .link,
#menu-15 .dropdown-item {
  color: #ffffff;
}
#menu-15 .link {
  font-size: 1.2rem;
}
#menu-15 .dropdown-item,
#menu-15 .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-15 .link:hover,
#menu-15 .dropdown-item:hover,
#menu-15 .link:focus,
#menu-15 .dropdown-item:focus {
  color: #28324e;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-menu {
  background: #e6e6e6;
}
#menu-15 .nav-dropdown-sm .link:focus,
#menu-15 .nav-dropdown-sm .link:hover,
#menu-15 .nav-dropdown-sm .dropdown-item:focus,
#menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-15 .navbar,
#menu-15 .nav-dropdown-sm,
#menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-15 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-15 .bg-color.transparent.opened .link:hover,
#menu-15 .bg-color.transparent.opened .link:focus {
  color: #28324e;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-item[aria-expanded="true"] {
  color: #28324e!important;
}
#menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-15 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-15 .close-icon::before,
#menu-15 .close-icon::after {
  background-color: #ffffff;
}
#menu-15 .btn {
  font-family: 'Oxygen', sans-serif;
}

#menu-17 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-17 .navbar-caption {
  color: #ffffff;
}
#menu-17 .navbar-toggler {
  color: #ffffff;
}
#menu-17 .link,
#menu-17 .dropdown-item {
  color: #ffffff;
}
#menu-17 .link {
  font-size: 1.2rem;
}
#menu-17 .dropdown-item,
#menu-17 .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-17 .link:hover,
#menu-17 .dropdown-item:hover,
#menu-17 .link:focus,
#menu-17 .dropdown-item:focus {
  color: #28324e;
}
#menu-17 .link[aria-expanded="true"],
#menu-17 .dropdown-menu {
  background: #e6e6e6;
}
#menu-17 .nav-dropdown-sm .link:focus,
#menu-17 .nav-dropdown-sm .link:hover,
#menu-17 .nav-dropdown-sm .dropdown-item:focus,
#menu-17 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-17 .navbar,
#menu-17 .nav-dropdown-sm,
#menu-17 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-17 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-17 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-17 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-17 .bg-color.transparent.opened .link:hover,
#menu-17 .bg-color.transparent.opened .link:focus {
  color: #28324e;
}
#menu-17 .link[aria-expanded="true"],
#menu-17 .dropdown-item[aria-expanded="true"] {
  color: #28324e!important;
}
#menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-17 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-17 .close-icon::before,
#menu-17 .close-icon::after {
  background-color: #ffffff;
}
#menu-17 .btn {
  font-family: 'Oxygen', sans-serif;
}




#ext_menu-10 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-10 .navbar-caption {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-10 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-10 .close-icon::before,
#ext_menu-10 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-10 .link,
#ext_menu-10 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-10 .link {
  font-size: 0.65rem;
}
#ext_menu-10 .dropdown-item,
#ext_menu-10 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#ext_menu-10 .link:hover,
#ext_menu-10 .dropdown-item:hover,
#ext_menu-10 .link:focus,
#ext_menu-10 .dropdown-item:focus {
  color: #28324e;
}
#ext_menu-10 .link[aria-expanded="true"],
#ext_menu-10 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-10 .nav-dropdown-sm .link:focus,
#ext_menu-10 .nav-dropdown-sm .link:hover,
#ext_menu-10 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-10 .navbar,
#ext_menu-10 .nav-dropdown-sm,
#ext_menu-10 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-10 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-10 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-10 .bg-color.transparent.opened .link:hover,
#ext_menu-10 .bg-color.transparent.opened .link:focus {
  color: #28324e;
}
#ext_menu-10 .link[aria-expanded="true"],
#ext_menu-10 .dropdown-item[aria-expanded="true"] {
  color: #28324e!important;
}
#ext_menu-10 .btn {
  font-family: 'Oxygen', sans-serif;
}
#form1-11 .form-control-label {
  color: #000000;
}
#form1-11 .mbr-section-title {
  color: #000000;
}
#form1-11 .btn {
  font-family: 'Oxygen', sans-serif;
}
